*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;

}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.card{
    overflow: hidden;
    position: absolute;
   margin-top: 50%;
    width: 230px;
    height: 300px;
    border:1px solid rgb(240, 91, 91);
    border-radius: 20px;

}
#a{
    z-index: 4;
}
#b{
    z-index: 3;
    rotate:-7deg ;
   
}
#b:hover{
    z-index: 10;
}
#c{
    z-index: 2;
  rotate: -14deg; 
}
#c:hover{
    z-index: 10;
}
#d{
    z-index: 1;
   rotate: -21deg;
}
#d:hover{
    z-index: 10;
}
#a img{
    width:100%;
    height: 100%;
    object-fit: cover;

}
#b img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#c img{
   width: 100%;
    height: 100%;
    object-fit: cover;  
}
#d img{
     width: 100%;
    height: 100%;
    object-fit: cover;  
}


   