*{
    margin:0%;
    padding:0%;
}
h2{
    font-size:50px;
    padding:20px;
    text-align:center;
    background-color: rgb(128, 17, 239);
    color:black;
    height:60px;
}
button{
    background-color: black;
    color:white;
    width:200px;
    height:50px;
}
#a{
    float:left;
    border:solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: aqua;
    width:600px;
    height:40px;
}
#b{
    float:left;
    border:solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: aqua;
    width:600px;
    height:40px;
}
#b{
    margin-left:10px;
}
#c{
    margin-top:30px;
}
#d{
    float:left;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:395px;
    height:100px;
    background-color: black;
    color:white;

}
#e{
    margin-left:10px;
    float:left;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:397px;
    height:100px;
    background-color: black;
    color:white;

}
#f{
    margin-left: 10px;;
    float:left;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:398px;
    height:100px;
    background-color: black;
    color:white;
}
#g{
    margin-top:5px;
    float:left;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:395px;
    height:100px;
    background-color: black;
    color:white;
}
#h{
    margin-left:10px;
    margin-top:5px;
    float:left;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:397px;
    height:100px;
    background-color: black;
    color:white;
}
#i{
    margin-left:10px;
    margin-top:5px;
    float:left;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:398px;
    height:100px;
    background-color: black;
    color:white;
}

