*{
    margin:0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  
    height: 100%;
    width: 100%;
   

}
.shape{
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 10px;
   margin-left: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
h1{
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}
#b{
    border-radius: 50%;
}
#a{
   
    rotate: 45deg;
}
#squre{
    margin-bottom: 20%;
}
#a h1{
    rotate: -45deg;
}
#squre:hover{
    background-color: red;

}
#a:hover{
    background-color: blue;
}
#b:hover{
    background-color: rgb(20, 232, 20);
}
h1{
    font-size: xx-large;
    

}





